.layout-container {
  max-width: 720px;
  margin: 40px auto 0 auto;
}

.core-card {
  background-color: #ffffff;
  /* Card trắng ở giữa */
  border-radius: 8px; /* Bo góc tạm trước khi Phase 6 làm đẹp */
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  overflow: hidden;
}
